extends layout

block content
  div.main-container
    div.header
      h1
        span.green-text Your Pantry
    div.status-container
      div.status-info
        div.blue-text Status
        div 
          span.yellow-text Total Ingredients: 
          =totalIngredients
        div 
          span.purple-text Total Categories: 
          =totalCategories
    section.chat-section
      div.chat-container
        if(msgs && msgs.length > 0)
          each msg in msgs
            if(msg.role == 'user')
                pre.user-msg= msg.content
            if(msg.role == 'assistant')
              div.msg-container
                img.pantry-pal-img(src="/images/pantrypal.png")
                pre.purple-text= msg.content
      div.chat-textbox
        p.red-text.title Chat With Your Pantry Pal
          form(id="chat-form" method="POST")
            label.purple-text(for="message")= "Enter your message: "
            input(type="text" id="message" name="message" required value = "")
            button.green-text(type="submit") Send

