@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-size: cover;
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-color: rgb(39, 39, 39);
}

.navbar,
.navbar-brand,
.navbar-item {
    color: white !important;
    background-color: rgb(24, 24, 24) !important;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    max-height: 100%;
}

.blue-text,
.user-msg {
    color: aqua;
}

.yellow-text {
    color: yellow;
}

.purple-text {
    color: rgb(245, 5, 245);
}

.green-text {
    color: rgb(0, 255, 0);
}

.red-text {
    color: red;
}

.ingredient-list-container,
.categories-container {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template: 1fr/repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    font-size: 18px;
    margin-top: 16px;
}

.ingredient-container,
.category-container {
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    border-radius: 16px;
    align-items: center;
    flex-direction: column;
    background-color: rgb(19, 19, 19);
    color: aliceblue;
    padding: 16px;
    margin-top: 0
}

.header {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: "Pixelify Sans", sans-serif;
}

.add-btn {
    width: 24px;
    fill: white;
}

.status-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.status-info {
    font-size: 1.5rem;
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 64px 16px 64px;
}

.list-img {
    border-radius: 10px;
    border-bottom: none;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin-top: 0;
}

.ingredient-category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.detail-container {
    padding: 24px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 24px;
}

.icon {
    width: 20px;
}

.icon:hover {
    scale: 1.1;
}

.detail-title {
    font-size: 36px;
}

.detail-img {
    width: 500px;
    border-radius: 12px;
}

form {
    width: 70%;
}

.form-group {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.5rem;
    color: white;
}

.chat-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    float: right;
    overflow: hidden;
    height: 600px;
}

.chat-container {
    width: 50%;
    height: 600px;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.msg-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    background-color: rgba(29, 29, 29, 0.774);
    border-radius: 7px;
    padding: 7px;
}


.chat.textbox {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 16px;
}

.user-msg {
    text-align: right;
    align-self: flex-end;
    background-color: black;
    border-radius: 7px;
    padding: 7px;
    max-width: 100%;
}

pre,
.user-msg {
    text-wrap: wrap;
    font-family: "Pixelify Sans", sans-serif;
}

.pantry-pal-img {
    width: 40px;
    height: 40px;
}

.chat-textbox {
    padding: 16px;
    font-family: "Pixelify Sans", sans-serif;
}

.text-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    gap: 16px;
}

button {
    background-color: rgba(240, 248, 255, 0);
    border-style: solid;
    border-radius: 7px;
    border-radius: 4px;
}

::-webkit-scrollbar {
    width: 7px;
    border: 1px solid #d5d5d5;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #494949;
  }